<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to text analyzer <h1>
    <form action="/analyze" method="GET">
        <textarea name='text' style='margin: 0px; width: 680px; height: 145px;'></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctuation<br>
        <input type="checkbox" name="fullcaps"> UpperCase<br>
        <input type="checkbox" name="newlineremover"> Line Remover<br>
        <button type="submit">Analyse</button>
</body>
</html>